extends layout

block content
    form(method='POST' action='/wows')
        div.row
            div.form-group.input-field.col.s6
                input#name.form-control(type='text', placeholder='Give a wow', name='text', required)
                label(for='text') Wow:
            div.form-group.input-field.col.s6
                select(name='receiver', required)
                    option(value='') -- Select Person --
                    each user in users
                        if user.firstName
                            option(value=user.email) #{user.firstName} #{user.lastName}
                        else
                            option(value=user.email) #{user.email}
                label(for='receiver') Who are you wowing?
        button.btn.btn-primary(type='submit') Send wow